<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tilt_admin
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /tilt_admin/index.html [L]
</IfModule>